.root {
  position: relative;
}

.control {
  display: block;
  top: calc(50% - 18px);
  transform: none;
  z-index: 9999;
  position: absolute;
  border-radius: 50px;
  -webkit-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.23);
}

.next {
  right: 8px;
}

.prev {
  left: 8px;
}
